html {
    background-color: #aad4cf;
    font-size: 20px;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
}

.content {
    margin: 0 auto 15px;
    background-color: #d4e9e7;
    padding: 0;
    width: 75%;
}

h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.header {
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
}

main {
    padding: 0px 10px 30px;;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

nav>ul {
    padding: 0;
    text-align: center;
}

.nav {
    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

.small {
    width: 15.5rem;
    float:left;
}

form {
    border: 1px solid #000;
    padding: 30px 15px 15px;
}

h3 {
    font-weight: normal;
}

.block {
    display: block;
}

.button {
    font-size: 0.6rem;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: #d4e9e7;
    text-align: center;
    padding: 1.1em;
}

.button:hover {
    background-color: #aad4cf;
}

.button:active {
    background-color: #77bdb5;
}

footer {
    text-align: right;
    padding-right: 35px;
    padding-bottom: 35px;
}

