body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.contain-m {
    padding: 14px;
}

header {
    width: 100%;
    margin: 0 auto;
}

.search-f {
    display: flex;
}

.search {
    flex-grow: 1;
    padding: 10px 4px;
}

.search-b {
    padding: 0 10px;
    color:#c58b22;
    border-color: #c58b22;
    background-color: #222;
}

.logo {
    background-color: #c58b22;
}

li {
    list-style: none;
}

nav {
    background-color: #222;
    padding:14px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #c58b22;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav li, nav form {
    text-align:center;
}

.search-f {
    width: 100%;
}

.intro {
    background-image: url("../image/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8.5% 0;
}
    
.intro-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 14px;
}

.intro-container>p {
    color: #fff;
    margin-bottom: 14px;
}

input {
    font-family: Arial;
    font-size: 18px; 
}

.home {
    background-color: #c58b22;
}

a.current {
 color: #222;
}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 71px;
    line-height: 98px;
    padding: 35px 0;
}


h2 {
    font-weight: bold;
    font-size: 48px;
}

h3 {
    font-weight: bold;
    font-size: 32px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

p {
    font-size: 14px;
    line-height: 21px;
}

button {
    font-size: 21px;
}

th, td {
    font-size: 14px;
}

footer {
    font-size: 14px;
}

.block {
    font-size: 14px;
}




@media screen and (min-width: 760px){
    .container {
        width: 760px;
    }
}